/* rest browser default styles */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

canvas {
    border: 2px solid #900C3F; 
}

/* layout */

html, body {
    height: 100%;
}

.container {
    margin: 0 20px;
}

@media ( min-width: 768px )  {
    .container {
        max-width: 1280px;
        margin: 0 auto;
    }
}


/* components */

.game {
    text-align:  center;
    display: flex;
    flex-direction: column;
    
    height: 100%;
}

.game header {
    height: 50px;
    display: flex;
    align-items: center;
}

.game h1 {
    display: flex;
    justify-content: center;

}

.game .lives {
    flex: 1;
}

.game .score {
    flex: 1;
}

.game .label {
    font-weight: bold;
}

.game .canvas-container {
    flex: 1;
}

.splashscreen {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.gameover {
    display: flex;
    justify-content: center;
    flex-direction: column;
}